:root {
  --primaryKeyColor: #ffffff;
}
.profile-container {
  width: 100%;
  height: 100vh;
  padding-top: 9%;
  background-color: #f5f5f5;
  .profile-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    .profile-menu {
      width: 20%;
      height: 100px;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      .profile-avatar {
        width: 65%;
        margin: 5% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .avatar-user {
          width: 50%;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .avatar-name {
          line-height: 0.3rem;
          p:nth-child(1) {
            font-size: 0.9rem;
            font-weight: 600;
          }
          p:nth-child(2) {
            font-size: 0.8rem;
            color: #a09e9e;
            cursor: pointer;
          }
        }
      }
      .profile-option {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        div {
          width: 65%;
          font-size: 1rem;
          margin: 0 auto;
          display: flex;
          align-items: center;
          height: auto;
          padding: 20px 0px;
          cursor: pointer;
          color: #fa5130;

          &:hover {
            color: #b2270b;
          }
          .icons-fill {
            font-size: 1.5rem;
            padding-right: 10px;
            color: #e84423;
          }
        }
      }
    }
    .profile-information {
      width: 80%;
      height: 100px;
      background-color: var(--primaryKeyColor);
      box-shadow: 0px 0px 3px #aca9a9;
      height: 70vh;
      .information {
        width: 90%;
        margin: 1% auto;
        border-bottom: 1px solid #a09e9e;
        h1 {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2rem;
        }
        p {
          font-size: 1rem;
          line-height: 0rem;
          color: #7e7d7d;
        }
      }
      .detailed-profile {
        width: 90%;
        margin: 1% auto;
        display: flex;
        justify-content: space-between;
        .user-details {
          width: 65%;
          margin: 0 auto;
          height: auto;
          border-right: 1px solid #a09e9e;
          div {
            width: 80%;
            margin: 3% auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            color: #7e7d7d;
            .btn {
              width: 30%;
              font-size: 1rem;
              background-color: #fa5130;
              outline: none;
              border: none;
              padding: 10px 0px;
              color: var(--primaryKeyColor);
              cursor: pointer;
              border-radius: 5px;
              &:active {
                box-shadow: 0px 0px 5px #b2270b;
              }
            }
            select {
              outline: none;
              border: none;
              background-color: #f5f5f5;
              width: 65%;
              color: #fa5130;
              font-weight: 600;
              padding: 10px 10px;
              font-size: 1rem;
            }
            input {
              outline: none;
              border: none;
              color: #fa5130;
              font-weight: 500;
              background-color: #f5f5f5;
              width: 60%;
              padding: 10px 10px;
              font-size: 1rem;
            }
          }
        }
        .user-image-update {
          width: 35%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          .show-image {
            width: 100px;
            height: 100px;
            margin-top: 30%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              background-color: #7e7d7d;
            }
          }
          .choose-photo {
            margin-top: 10%;
            label {
              border: 1px solid #e84423;
              padding: 10px 20px;
              color: var(--primaryKeyColor);
              font-size: 0.8rem;
              background-color: #fa5130;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
